.side-drawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  top: 3.125rem;
  left: 0;
  background: black;
  z-index: 90;
  transition: transform 0.2s ease-out;

  @media (min-width: 40rem) {
    display: none;
  }
}

.side-drawer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.side-drawer li {
  display: block;
}

.side-drawer li a {
  padding: 0;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}
