.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 80;
}

.visible {
  display: block;
}

.not-visible {
  display: none;
}
