@import "../../_variables.scss";

.header {
  width: 100%;
  background: black;
  color: white;
  height: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 90;
}

.main-content {
  margin: $mainContentMargin;
  display: flex;
  justify-content: center;
}
