* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    to right top,
    #4867af,
    #0095db,
    #00bdcd,
    #00de89,
    #aff01e
  );
}
