* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
  background: url("./assets/images/background.svg");
}
