* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to right top,
    #4867af,
    #0095db,
    #00bdcd,
    #00de89,
    #aff01e
  );
}
