.image-container {
  position: relative;
  display: inline-block;

  .image {
    display: block;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.expand {
  animation: expand 0.4s;
}

@keyframes expand {
  0% {
    opacity: 0;
    max-width: 0;
  }
  100% {
    opacity: 1;
    max-width: "100%";
  }
}

@media screen and (min-width: 55rem) {
  .image-container {
    .image {
      max-width: 49rem;
    }
  }
}
