.image-container {
  position: relative;
  display: inline-block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 55rem) {
  img {
    max-width: 49rem;
  }
}
