@import "../../../_variables.scss";

.logo {
  margin-left: $headerContentMargin;
  width: 3.125rem;

  img {
    max-width: 3.125rem;
    max-height: 3.125rem;
  }

  a {
    display: block;
  }
}

.logo img:hover {
  animation: eye-flip 1s ease-in;
}

@keyframes eye-flip {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0);
  }
}
